{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action=" {% url 'comment' post_id=post.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {%form|crispy%}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-success btn-lg" value="POST">
            </form>
        </div>
    </div>
</div>
{{ form.media }}
{% endblock %}
