{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" >
    <div class="text-white text-center" style="margin-top:15%">
        <h1>Welcome to HoodWatch</h1>
        <h5 style="margin-top:6%">Start by joining a hood </h5>
        <a href="{% url 'hood' %}" class="btn btn-sm btn-info mt-4">Join Hood</a>
    </div>

</div>
{% endblock %}

{% include 'base.html' %}
{% load bootstrap4%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col m12">
            <h3 class="center-align">Hood Watch {{profile.neighborhood}}</h3>

        </div>
        {% for post in posts %}
        <div class="col s12 m6">
            <div class="card-panel">
                <h5>{{post.title}}</h5>
                <p>{{post.content|truncatechars:200}}</p>
                <a class="waves-effect waves-light btn" href="{% url 'post' post.id %}">Read</a>
            </div>
        </div>
        {% endfor %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue modal-trigger" href="#modal1"><i
                    class="large material-icons">add</i></a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal" style="max-height: 800px !important;">
        <form action="{%url 'index' %}" method='post' enctype="multipart/form-data">
            <div class="modal-content">
                <h4>Add a Post</h4>

                {% csrf_token %}
                {{ form }}

            </div>
            <div class="modal-footer">
                <button type='submit' class="btn btn-success" style="margin-right:20px;">Submit</button>
            </div>
        </form>
    </div>
    {% block script%}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
            $('select').formSelect();
        });

    </script>
    {% endblock %}
</div>
{% endblock %}