<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<a class="" href="/"><i class="fa fa-home"style="font-size:16px;color:red" ></i></a>
  <a class="navbar-brand text-white" href="{%url 'home'%}">NayersHood</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{%url 'profile'%}">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{%url 'businesses'%}">Businesses</a>
      </li>
<li class="nav-item">
        <a class="nav-link text-white" href="{%url 'businesses'%}">Edit Profile</a>
      </li>
<li class="nav-item">
        <a class="nav-link text-white" href="{%url 'businesses'%}">Hoods</a>
      </li>

    </ul>

    <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="container-fluid">
                    {% if user.is_authenticated %}
                        <div class="row">
                            <div class="col-md-12 nav-search">
                                <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
                                    <input class="form-control my-2 my-sm-0 search-input" name="hoods" type="search" placeholder="Search hoods" aria-label="Search">
                                </form>
                            </div>
                        </div>
                        </div>
                    {%endif%}
                <ul  class="navbar-nav ml-auto" style="list-style: none">
                    <li>
                        <i class="fa fa-sign-out"  style="font-size:30px;color:green" aria-hidden="true"></i><a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
</div>
            </nav>