<!-- {% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-white poster">
            <h3 class="text-center tt ">Add post to your hood</h3>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-sm btn-info "> Post</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
{% endblock %} -->
{% include 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row" style="padding-top: 50px;">
            <div class="col s12 m12">
              <div class="card-panel">
                <div class="header" style="border-bottom: 1px solid rgba(0,0,0,0.14);">
                    <h5>{{post.title}}</h5>
                </div>
                    <p>{{post.content}}</p>
                    <p>Posted by: {{post.user}}</p>
                    <form  action="{%url 'post' post.id %}" method="post" enctype="multipart/form-data">
                      {%csrf_token%}
                    {{ form|crispy }}
                    
                      <input type="submit" class="btn btn-success btn-lg" value="Post">
                    </form>
                    {% for comment in comments %}
                        <div class="" style="padding-top:20px;">
                            <span><strong>{{comment.user}}: </strong>{{comment.comment}} <br> {{comment.pub_date}}</span>
                        </div>
                    {% endfor %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}